section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.resources div{
    flex: 0 0 300px;  
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
}

section.resources div div{
    flex: 1 1 90px;  
    margin: 0;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

#bar{
    display: block;
    background-color: black;
    width: 100%;
    height: 30px;
}
div[id*="Progress"]{
    background-color: orange;
    margin-top: 5px;
    display: block;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
}

section.info div{
    flex: 1 1 300px;  
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

section.jobs div{
    flex: 1 1 300px;  
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 4px;
}
section.jobs div div{
    flex: 0 1 20px;  
    margin: 0;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: bisque;
    width: 100%;
}
button[value="false"]{
    width: 218px;
    height: 60px;
    background-image: url(images/buttons/greyButton.jpg);
    background-size: cover;
}
button[value="true"]{
    background-image: url(images/buttons/orangeButton.jpg);
    width: 218px;
    height: 60px;
    background-size: cover;
}  

div.ruraljobs{background-color: palegreen;}
div.cityjobs{background-color: rosybrown;}
#jobsbackground{background-color: plum;}
#food{background-color: green;}
#iron{background-color: silver;}
#wood{background-color: burlywood;}
#stone{background-color: grey;}
#money{background-color: gold;}
#population{background-color: black;color: white}
#influence{background-color: indigo; color: white;}