section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.resources div{
    flex: 0 0 300px;  
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    vertical-align: middle;
}

section.resources div div{
    flex: 1 1 90px;  
    margin: 0;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

#bar{
    display: block;
    background-color: black;
    width: 100%;
    height: 30px;
}
#progress{
    background-color: orange;
    margin-top: 5px;
    display: block;
    height: 20px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 20px;
    color: white;
}

section.info div{
    flex: 1 1 300px;  
    margin: 10px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}


#food{background-color: green;}
#iron{background-color: silver;}
#timber{background-color: burlywood;}
#stone{background-color: grey;}
#money{background-color: gold;}
#population{background-color: black;color: white}
#influence{background-color: indigo; color: white;}